<form class="half half-left" id="sort-bar" action="" method="GET">
  <div class="dropdown half-left w100">
    <button class="btn dropdown-toggle half-left w80" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort to
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-dropdown w80" aria-labelledby="dropdownMenuLink">
      <button class="dropdown-item btn transparent w100" type="submit" name="s" value="title">Title</button>
      <button class="dropdown-item btn transparent w100" type="submit" name="s" value="-published">Publish date</button>
    </ul>
  </div>
</form>
