{% extends 'blog/base.html' %}

{% block head %}{{ post }}{% endblock %}

{% block title %}<h1>{{ post }}</h1>{% endblock %}

{% block subtitle %}

  <section>
    <p>
      <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.published.date }}
    </p>
  </section>

{% endblock %}

{% block content %}

  <section id="content" class="main">

    {% if post.featured_image %}
      <div class="feat-img">
        <img src="{{ post.featured_image.url }}">
      </div>
    {% endif %}

    <br>
    <p>{{ post.text|linebreaksbr }}</p>

  </section>

{% endblock %}
