{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block head %}Posts{% endblock %}

{% block title %}<h1>Posts</h1>{% endblock %}

{% block subtitle %}

  <section>
    <p>All</p>
    <span class="bars">
      {% include 'html/sort.html' %}
      {% include 'html/search.html' %}
    </span>
  </section>

{% endblock %}

{% block content %}

  <section id="content" class="main">

    <div class="infinite-container">
      {% for post in posts %}
        <div class="infinite-item">
          <div class="object">
              <h3><a href="{{ post.get_absolute_url }}">{{ post }}</a></h3>
              <div class="well well-sm">
                <span><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.published.date }}</span>
              </div>

              <div>
                <span class="object-img  rounded-img med">
                  {% cloudinary post.featured_image %}
                </span>
                <p>{{ post.text|truncatewords:30 }}</p>
                <a class="btn btn-info" href="{{ post.get_absolute_url }}">More</a></p>
              </div>
          </div>
        </div>
        <hr>
        {% empty %}
        <p class="lead">No posts found.</p>
      {% endfor %}
    </div>

    <div class="loading" style="display: none;">
      Loading...
    </div>

    {% if page_obj.has_next %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}

    <script src="{% static 'js/infinite.js' %}"></script>

  </section>

{% endblock %}
