<!DOCTYPE html>
<html>

  <head>
    <title>{% block head %}Head{% endblock %} | {{ site_title }}</title>
    {% load staticfiles %}
    {% include 'html/head.html' %}
    <link rel="stylesheet" href="{% static 'business/css/style.css' %}" type="text/css">
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  </head>

  <body>

    {% include 'html/nav.html' %}

    <div id="wrapper">

      <header id="header">
        {% block logo %}<span class="rounded-img large"><img src="" alt="" /></span>{% endblock %}
        {% block title %}<h1>Title</h1>{% endblock %}
        {% block subtitle %}<p>Subtitle</p>{% endblock %}
      </header>

      <div id="main">

        {% block content %}Content{% endblock %}

      </div>

      <footer id="footer">

        <p class="copyright">&copy; {{ site_title }}. Design: <a href="https://html5up.net" target=blank>HTML5 UP</a>.</p>

      </footer>

    </div>

  </body>

</html>
