<div class="modal-header">
  <h4 class="modal-title">Deleting {{ toolentry.tool }} entry</h4>
</div>
<div class="modal-body">
  <p>Are you sure? This action can not be reverted!</p>
  <form action="{% url 'business:tool_entry_delete' category=toolentry.tool.category.slug tool=toolentry.tool.slug field_pk=toolentry.field.pk entry_pk=toolentry.pk %}" method="POST">
    {% csrf_token %}
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Yes</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>
